body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding:0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  /* .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    font-size: 14px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }

  .top-bar i {
    color: orange;
    margin-right: 5px;
  } */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  padding: 8px 20px;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

.right {
  display: flex;
  align-items: center;
  color: crimson;
  font-weight: bold;
  font-size: 14px;
}

.right i {
  color: orange;
  margin-right: 5px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  width: 70px; 
  height: 70px; 
  padding: 10px;
  box-sizing: border-box;
}

.logo-img {
  max-width: 120px;
  max-height: 120px;
  object-fit: contain; /* Giữ tỉ lệ ảnh, không bị méo */
  display: block;
}

.hotline {
  color: crimson;
  font-weight: bold;
}

.search-box {
  flex: 1;
  max-width: 600px;
  margin: 0 20px;
  align-items: center;
  display: flex;
  gap: 10px;
}

.search-box input {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
}

.search-box button {
  padding: 8px 14px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  display: flex;
  align-items: center;
  color: crimson;
  font-weight: bold;
  font-size: 14px;
  gap: 5px; 
  margin-left: 20px;
}

.icons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icons div {
  text-align: center;
  font-size: 14px;
}

.icons i {
  font-size: 18px;
  color: orange;
  display: block;
}

.cart {
  position: relative;
}

.cart .badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  font-size: 10px;
  border-radius: 50%;
}
