.profile-page {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
  background: #ffffff;
  font-family: Arial, sans-serif;
}

.profile-box {
  background-color: #fdf1fc;
  border: 1px solid #f5dff2;
  padding: 30px 40px;
  width: 100%;
  max-width: 700px;
  border-radius: 6px;
}

.profile-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.profile-subtitle {
  font-size: 14px;
  color: #888;
  margin-bottom: 30px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  align-items: center;
  gap: 10px;
}

.form-row label {
  font-size: 14px;
  color: #333;
}

.form-row input {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #dca1d7;
  border-radius: 4px;
  width: 100%;
}

.password-title {
  margin-top: 30px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.btn-save {
  margin: 20px auto;
  padding: 12px 28px;
  background-color: #dca1d7; /* màu hồng */
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  width: 400px;
  min-width: 150px;
  text-align: center;
  transition: all 0.3s ease;
}

.btn-save:hover {
  background-color: #e91e63;;
}

.error-text {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}
