.registration-container {
  width: 100%;
  min-height: 100vh;
  background-color: #ffe3f8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  box-sizing: border-box;
}

/* .refund-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  box-sizing: border-box;
} */

.registration-content {
  display: flex;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  background: transparent;
}

.registration-logo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.registration-form-container {
  width: 50%;
  background-color: #fef3fb;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  border: 4px solid #000;
}

.registration-title {
  font-size: 36px;
  font-weight: 900;
  color: #000;
  margin-bottom: 32px;
  text-align: center;
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.registration-form-group {
  margin-bottom: 20px;
}

.registration-form-input {
  width: 100%;
  height: 48px;
  padding: 0 20px;
  border: 2px solid #d46db3;
  border-radius: 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

.registration-form-input::placeholder {
  color: #999;
}

.registration-submit-button {
  margin-top: 20px;
  background-color: #fff;
  color: #000;
  border: 2px solid #d46db3;
  border-radius: 25px;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.registration-submit-button:hover {
  background-color: #d46db3;
  color: #fff;
}

.registration-input-wrapper {
  position: relative;
  width: 100%;
}

.registration-input-error {
  border-color: red;
}

.registration-input-error::placeholder {
  color: red;
}

.input-error-text {
  font-size: 13px;
  color: red;
  margin-top: 6px;
  padding-left: 4px;
  transition: all 0.3s ease;
}

