.dropdown-hover-wrapper {
    position: relative;
    display: inline-block;
}

.dropdown-hover-menu {
    position: absolute;
    left: -70px;
    background-color: #fef3fb;
    border: 1px solid #d46db3;
    border-radius: 10px;
    padding: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
    min-width: 200px;
    text-align: center;
}

.dropdown-header-item {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.2s ease-in-out;
}

.dropdown-header-item:hover {
    background-color: #ffe3f8;
}