.default-layout {
  display: flex;
  min-height: 100vh;
}

.default-sidebar {
  width: 250px;
  background-color: #ffe9f5;
  border-right: 1px solid #ffe9f5;
  padding: 16px;
}

.default-main-content {
  flex: 1;
  background-color: #fff;
}

.breadcrumb-wrapper {
  width: 100vw;
  background-color: #ffffff;
  padding: 2px 10px;
  border-bottom: 1px solid #d0cece;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  z-index: 1;
}
